/*Tylor Menegay 5/6/2020*/
/*I like to do my padding by percentage, because I feel like it's the 
best way for webpages to translate to a mobile platform. */
#container {
	padding-top: 15%;
	padding-left: 2%;
}

h1 {
	font-family: arial;
}

body {
	background-color: teal;
}